*{
    margin: 0;
}
/* h2 {
    background-color: rgb(219, 214, 214); 
}
hr{
    margin-top: 0px;
    color: red;
    border: 2px solid rgb(88, 85, 85);
} */
body{
    width: 50%;
    margin:auto;
    /* border: 1px solid black; */

}
/* img{
    
    margin-left: 74%;
} */